:root {
    --gradient: linear-gradient(90deg, #06beb6, #48b1bf)
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    border-width: 0;
}

section {
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
    overflow: hidden;
    align-items: center;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #444;
}

html::-webkit-scrollbar-thumb {
    background: var(--gradient);
}

*::selection {
    background-color: #06beb6;
    color: #fff;
}

header {
    background: var(--gradient);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    padding: 1.2rem 3%;
    box-shadow: 0 .1rem .3rem rgb1(0,0,0,.3);
}

header #menu {
    font-size: 25px;
    color: #fff;
    display: none;
}

header .logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: bolder;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin: 0 .9rem;
}

header .navbar ul li a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color: #444;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: url(../assets/home_background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
}

.home h1 {
    font-size: 5rem;
    color: #666;
    text-align: center;
}

.home p {
    font-size: 1.7rem;
    color: #999;
    margin-top: 10px;
    padding: 1rem 0;
    width: 100rem;
}

.home .shape{
    position: absolute;
    bottom: -2rem; left: 0;
    height: 10rem;
    width: 100%;
    background:url(../assets/shape.png);
    block-size: 100rem 15rem;
    filter: drop-shadow(0 -.1rem .1rem rgba(0,0,0,.2));
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0rem;
    }
    100% {
        background-position: 100rem;
    }
}

.btn {
    padding:  .7rem 2rem;
    font-size: 1.6rem;
    color: #fff;
    background: var(--gradient);
    border-radius: 5rem;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.4);
    position: relative;
    overflow: hidden;
    animation: animate 10s linear infinite;
}

.about h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.course {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
}

.course h1{
    font-size: 3rem;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    color:#666;
}

.course .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.course .box-container .box{
    width: 35rem;
    border:.1rem solid rgba(0,0,0,.3);
    position: relative;
    margin:1.5rem;
}

.course .box-container .box img{
    height:20rem;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.course .box-container .box .content{
    padding:1rem;
}

.course .box-container .box .content .stars i{
    color:#f39c12;
    font-size: 1.7rem;
    padding:1rem .1rem;
}

.course .box-container .box .content .title{
    color:#444;
    font-size: 2.1rem;
}

.course .box-container .box .content .title:hover{
    text-decoration: underline;
}

.course .box-container .box .content p{
    padding:1rem 0;
    color:#666;
    font-size: 1.5rem;
}

.course .box-container .box .content .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}

.course .box-container .box .content .info h3{
    font-size: 1.5rem;
    padding:1rem;
    color:#666;
}

.course .box-container .box .content .info h3 i{
    color:#f39c12;
}

.course .box-container .box .price{
    position: absolute;
    top:16rem; right:1rem;
    height:8rem;
    width:8rem;
    line-height: 8rem;
    text-align: center;
    border-radius: 50%;
    background:var(--gradient);
    color:#fff;
    font-size: 3rem;
    filter: drop-shadow(0 .5rem .3rem rgba(0,0,0,.2));
}

.main {
    display: flex;
    justify-content: center;
}

/* ----- Dashboard Screen -----  */
#loader {
    align-self: center;
    z-index: 1;
    width: 65px;
    height: 65px;
    border: 10px solid #ccc;
    border-radius: 50%;
    border-top: 10px solid #06beb6;
    border-bottom: 10px solid #48b1bf;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }


/* --- Media Queries --- */
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    header #menu {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        background-color: #444;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }
    
    header .navbar ul li {
        margin: 1.5rem 0;
        text-align: left;
        width: 100%;
    }

    header .navbar ul li a {
        font-size: 25px;
        display: block;
        margin-left: 20px;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        color: #06beb6;
    }

    header .navbar.nav-toggle {
        top: 6rem
    }

    .home h1 {
        font-size: 5rem;
    }

    .home .shape {
        position: absolute;
        bottom:-.2rem; left: 0;
        height:15rem;
        width:100%;
        background:url(../assets/shape.png);
        block-size: 100rem 15rem;
        filter: drop-shadow(0 -1rem .1rem rgba(0,0,0,.2));
        animation: animate 10s linear infinite;
    }
    
    @keyframes animate {
        0% {
            background-position: 0rem;
        }
        100% {
            background-position: 100rem;
        }
    }
    
    .home p {
        font-size: 1.9rem;
        color: #999;
        margin-top: 25px;
        padding: 1rem 0;
        width: 35rem;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        top: 6.2rem;
        transition: .1s;
    }

    .btn {
        padding:  .7rem 3rem;
        font-size: 2rem;
        color: #fff;
        background: var(--gradient);
        border-radius: 5rem;
        margin-top: 2rem;
        cursor: pointer;
        box-shadow: 0 .1rem .3rem rgba(0,0,0,.4);
        position: relative;
        overflow: hidden;
        z-index: 0;
        animation: animate 10s linear infinite;
    }

    .course h1 {
        font-size: 2.7rem;
        text-align: center;
        color: #888
    }

    .about h1 {
        font-size: 2.7rem;
        text-align: center;
        color: #888
    }
}